Repository Kubeinit/kubeinit, pull requests merged in 2021-03, with the labels that each got.

#217 fix: backup install manifests
  kubeinit/roles/kubeinit_okd/tasks/10_configure_service_nodes.yml
  kubeinit/roles/kubeinit_okd/tasks/30_check_bootstrap_complete.yml
Labels: okd-libvirt-3-master-1-worker-default

#218 fix: organize pending libvirt files
  kubeinit/roles/kubeinit_cdk/tasks/main.yml
  kubeinit/roles/kubeinit_eks/tasks/main.yml
  kubeinit/roles/kubeinit_k8s/tasks/main.yml
  kubeinit/roles/kubeinit_libvirt/tasks/10_cleanup.yml
  kubeinit/roles/kubeinit_libvirt/tasks/20_ovn_install.yml
  kubeinit/roles/kubeinit_libvirt/tasks/30_linux_bridge_setup.yml
  kubeinit/roles/kubeinit_libvirt/tasks/40_ovn_setup.yml
  kubeinit/roles/kubeinit_libvirt/tasks/50_ovn_post_setup.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_k8s_deploy_nodes.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_okd_deploy_nodes.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_rke_deploy_nodes.yml
  kubeinit/roles/kubeinit_libvirt/tasks/70_check_nodes_up.yml
  kubeinit/roles/kubeinit_libvirt/tasks/main.yml
  kubeinit/roles/kubeinit_okd/tasks/main.yml
  kubeinit/roles/kubeinit_rke/tasks/main.yml
Labels: eks-libvirt-1-master-0-worker-default

#226 fix: update nfs role to latest k8s sig practice
  kubeinit/roles/kubeinit_nfs/tasks/main.yml
  tox.ini
Labels: eks-libvirt-1-master-0-worker-default, k8s-libvirt-1-master-0-worker-default

#236 fix: enable or disable master schedulable depending on worker nodes
  kubeinit/roles/kubeinit_okd/tasks/10_configure_service_nodes.yml
Labels: okd-libvirt-1-master-0-worker-default, okd-libvirt-1-master-1-worker-default
