Repository Kubeinit/kubeinit, pull requests merged in 2021-04, with the labels that each got.

#251 Nexus and templates improvements
  docs/src/roles/role-kubeinit_nexus.rst
  docs/src/roles/role-kubeinit_prepare.rst
  kubeinit/hosts/cdk/inventory
  kubeinit/hosts/eks/inventory
  kubeinit/hosts/k8s/inventory
  kubeinit/hosts/okd/inventory
  kubeinit/hosts/rke/inventory
  kubeinit/roles/kubeinit_cdk/tasks/main.yml
  kubeinit/roles/kubeinit_eks/tasks/main.yml
  kubeinit/roles/kubeinit_k8s/tasks/main.yml
  kubeinit/roles/kubeinit_nexus/README.md
  kubeinit/roles/kubeinit_nexus/defaults/main.yml
  kubeinit/roles/kubeinit_nexus/files/.gitkeep
  kubeinit/roles/kubeinit_nexus/handlers/main.yml
  kubeinit/roles/kubeinit_nexus/meta/main.yml
  kubeinit/roles/kubeinit_nexus/molecule/default/converge.yml
  kubeinit/roles/kubeinit_nexus/molecule/default/molecule.yml
  kubeinit/roles/kubeinit_nexus/molecule/default/verify.yml
  kubeinit/roles/kubeinit_nexus/tasks/main.yml
  kubeinit/roles/kubeinit_nexus/vars/main.yml
  kubeinit/roles/kubeinit_okd/defaults/main.yml
  kubeinit/roles/kubeinit_okd/tasks/main.yml
  kubeinit/roles/kubeinit_prepare/README.md
  kubeinit/roles/kubeinit_prepare/defaults/main.yml
  kubeinit/roles/kubeinit_prepare/files/.gitkeep
  kubeinit/roles/kubeinit_prepare/handlers/main.yml
  kubeinit/roles/kubeinit_prepare/meta/main.yml
  kubeinit/roles/kubeinit_prepare/molecule/default/converge.yml
  kubeinit/roles/kubeinit_prepare/molecule/default/molecule.yml
  kubeinit/roles/kubeinit_prepare/molecule/default/verify.yml
  kubeinit/roles/kubeinit_prepare/tasks/main.yml
  kubeinit/roles/kubeinit_prepare/vars/main.yml
  kubeinit/roles/kubeinit_rke/tasks/main.yml
  kubeinit/roles/kubeinit_submariner/tasks/00_configure_common.yml
  kubeinit/roles/kubeinit_validations/tasks/00_libvirt.yml
Labels: cdk-libvirt-1-master-0-worker-default, cdk-libvirt-1-master-1-worker-default, cdk-libvirt-3-master-0-worker-default, cdk-libvirt-3-master-1-worker-default, eks-libvirt-1-master-0-worker-default, eks-libvirt-1-master-1-worker-default, eks-libvirt-3-master-0-worker-default, eks-libvirt-3-master-1-worker-default, k8s-libvirt-1-master-0-worker-default, k8s-libvirt-1-master-1-worker-default, k8s-libvirt-3-master-0-worker-default, k8s-libvirt-3-master-1-worker-default, okd-libvirt-1-master-0-worker-default, okd-libvirt-1-master-1-worker-default, okd-libvirt-3-master-0-worker-default, okd-libvirt-3-master-1-worker-default, rke-libvirt-1-master-0-worker-default, rke-libvirt-1-master-1-worker-default, rke-libvirt-3-master-0-worker-default, rke-libvirt-3-master-1-worker-default

#253 fix: build subctl in the docker cluster
  ci/run_submariner.sh
  docs/src/usage.rst
  kubeinit/hosts/cdk/inventory
  kubeinit/hosts/eks/inventory
  kubeinit/hosts/k8s/inventory
  kubeinit/hosts/okd/inventory
  kubeinit/hosts/rke/inventory
  kubeinit/playbooks/submariner-subctl-verify.yml
  kubeinit/playbooks/submariner.yml
  kubeinit/roles/kubeinit_bind/templates/externals_db.local.j2
  kubeinit/roles/kubeinit_bind/templates/internals_db.j2
  kubeinit/roles/kubeinit_bind/templates/internals_db.local.j2
  kubeinit/roles/kubeinit_bind/templates/named.conf.j2
  kubeinit/roles/kubeinit_bind/templates/named.conf.local.j2
  kubeinit/roles/kubeinit_cdk/tasks/30_post_service_config.yml
  kubeinit/roles/kubeinit_cdk/tasks/60_deploy_cdk.yml
  kubeinit/roles/kubeinit_eks/tasks/10_configure_service_nodes.yml
  kubeinit/roles/kubeinit_eks/tasks/20_configure_common.yml
  kubeinit/roles/kubeinit_eks/tasks/50_post_deployment_tasks.yml
  kubeinit/roles/kubeinit_haproxy/templates/haproxy.cfg.j2
  kubeinit/roles/kubeinit_k8s/tasks/10_configure_service_nodes.yml
  kubeinit/roles/kubeinit_k8s/tasks/20_configure_common.yml
  kubeinit/roles/kubeinit_libvirt/tasks/00_prepare.yml
  kubeinit/roles/kubeinit_libvirt/templates/cluster-net.xml.j2
  kubeinit/roles/kubeinit_nfs/tasks/main.yml
  kubeinit/roles/kubeinit_okd/tasks/10_configure_service_nodes.yml
  kubeinit/roles/kubeinit_registry/defaults/main.yml
  kubeinit/roles/kubeinit_rke/tasks/20_configure_service_nodes.yml
  kubeinit/roles/kubeinit_rke/tasks/30_post_service_config.yml
  kubeinit/roles/kubeinit_rke/templates/cluster.yml.j2
  kubeinit/roles/kubeinit_submariner/tasks/00_broker_deployment.yml
  kubeinit/roles/kubeinit_submariner/tasks/10_join_clusters.yml
  kubeinit/roles/kubeinit_submariner/tasks/10_secondary_deployment.yml
  kubeinit/roles/kubeinit_submariner/tasks/main.yml
Labels: eks-libvirt-1-master-0-worker-default, eks-libvirt-1-master-1-worker-default, eks-libvirt-3-master-0-worker-default, eks-libvirt-3-master-1-worker-default, k8s-libvirt-1-master-0-worker-default

#256 fix: adjust submariner make steps
  kubeinit/roles/kubeinit_submariner/tasks/00_broker_deployment.yml
  kubeinit/roles/kubeinit_submariner/tasks/main.yml
Labels: okd.rke-libvirt-1-master-2-worker-submariner

#268 fix: remove the ignore errors in submariner
  ci/run_kubeinit.sh
  kubeinit/roles/kubeinit_submariner/tasks/00_broker_deployment.yml
Labels: okd.rke-libvirt-1-master-2-worker-submariner

#269 feat: reorganize and cleanup service nodes
  kubeinit/roles/kubeinit_bind/templates/named.conf.j2
  kubeinit/roles/kubeinit_bind/templates/named.conf.local.j2
  kubeinit/roles/kubeinit_cdk/tasks/30_post_service_config.yml
  kubeinit/roles/kubeinit_eks/tasks/10_configure_service_nodes.yml
  kubeinit/roles/kubeinit_eks/tasks/20_configure_common.yml
  kubeinit/roles/kubeinit_k8s/tasks/10_configure_service_nodes.yml
  kubeinit/roles/kubeinit_k8s/tasks/20_configure_common.yml
  kubeinit/roles/kubeinit_libvirt/tasks/00_prepare.yml
  kubeinit/roles/kubeinit_libvirt/tasks/20_ovn_install.yml
  kubeinit/roles/kubeinit_libvirt/tasks/40_ovn_setup.yml
  kubeinit/roles/kubeinit_libvirt/tasks/50_ovn_post_setup.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_okd_deploy_nodes.yml
  kubeinit/roles/kubeinit_libvirt/tasks/main.yml
  kubeinit/roles/kubeinit_libvirt/templates/cluster-net.xml.j2
  kubeinit/roles/kubeinit_nfs/defaults/main.yml
  kubeinit/roles/kubeinit_nfs/tasks/main.yml
  kubeinit/roles/kubeinit_okd/tasks/10_configure_service_nodes.yml
  kubeinit/roles/kubeinit_okd/tasks/40_remove_bootstrap_node.yml
  kubeinit/roles/kubeinit_okd/tasks/main.yml
  kubeinit/roles/kubeinit_prepare/tasks/main.yml
  kubeinit/roles/kubeinit_registry/defaults/main.yml
  kubeinit/roles/kubeinit_rke/tasks/30_post_service_config.yml
  kubeinit/roles/kubeinit_validations/tasks/10_libvirt_free_space.yml
  kubeinit/roles/kubeinit_validations/tasks/20_libvirt_available_ram.yml
  kubeinit/roles/kubeinit_validations/tasks/30_libvirt_check_cpu_cores.yml
Labels: eks-libvirt-1-master-0-worker-default, eks-libvirt-3-master-1-worker-default, k8s-libvirt-1-master-0-worker-default, k8s-libvirt-3-master-1-worker-default, okd-libvirt-1-master-0-worker-default
