Repository Kubeinit/kubeinit, pull requests merged in 2021-02, with the labels that each got.

#187 chore: update version of fcos
  kubeinit/roles/kubeinit_libvirt/defaults/main.yml
Labels: okd-libvirt-1-master-0-worker-default

#188 fix: cleanup and configure ssh proxy once and wait for guest
  kubeinit/roles/kubeinit_libvirt/tasks/00_cleanup.yml
  kubeinit/roles/kubeinit_libvirt/tasks/10_k8s_deploy_nodes.yml
  kubeinit/roles/kubeinit_libvirt/tasks/10_okd_deploy_nodes.yml
  kubeinit/roles/kubeinit_libvirt/tasks/10_rke_deploy_nodes.yml
  kubeinit/roles/kubeinit_libvirt/tasks/main.yml
Labels: eks-libvirt-1-master-0-worker-default

#196 fix: wait for bootstrap to complete
  kubeinit/roles/kubeinit_okd/tasks/30_check_bootstrap_complete.yml
  kubeinit/roles/kubeinit_okd/tasks/30_post_deployment_tasks.yml
  kubeinit/roles/kubeinit_okd/tasks/main.yml
Labels: okd-libvirt-1-master-0-worker-default, okd-libvirt-1-master-1-worker-default
