Repository Kubeinit/kubeinit, pull requests merged in 2021-07, with the labels that each got.

#394 fix: cleanup duplicated code
  kubeinit/roles/kubeinit_cdk/tasks/10_configure_common.yml
  kubeinit/roles/kubeinit_cdk/tasks/30_post_service_config.yml
  kubeinit/roles/kubeinit_cdk/tasks/70_post_deployment_services_tasks.yml
  kubeinit/roles/kubeinit_eks/tasks/00_bounce_packages.yml
  kubeinit/roles/kubeinit_eks/tasks/20_configure_common.yml
  kubeinit/roles/kubeinit_eks/tasks/30_configure_control_plane_nodes.yml
  kubeinit/roles/kubeinit_eks/tasks/40_configure_compute_nodes.yml
  kubeinit/roles/kubeinit_eks/tasks/50_post_deployment_tasks.yml
  kubeinit/roles/kubeinit_eks/tasks/configure_service_nodes.yml
  kubeinit/roles/kubeinit_k8s/defaults/main.yml
  kubeinit/roles/kubeinit_k8s/tasks/00_bounce_packages.yml
  kubeinit/roles/kubeinit_k8s/tasks/20_configure_common.yml
  kubeinit/roles/kubeinit_k8s/tasks/50_post_deployment_tasks.yml
  kubeinit/roles/kubeinit_k8s/tasks/configure_service_nodes.yml
  kubeinit/roles/kubeinit_kid/tasks/10_configure_common.yml
  kubeinit/roles/kubeinit_kid/tasks/30_post_service_config.yml
  kubeinit/roles/kubeinit_kid/tasks/40_configure_control_plane_nodes.yml
  kubeinit/roles/kubeinit_kid/tasks/50_configure_compute_nodes.yml
  kubeinit/roles/kubeinit_kid/tasks/70_post_deployment_services_tasks.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_deploy_centos_guest.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_deploy_debian_guest.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_deploy_ubuntu_guest.yml
  kubeinit/roles/kubeinit_libvirt/tasks/main.yml
  kubeinit/roles/kubeinit_okd/tasks/10_configure_common.yml
  kubeinit/roles/kubeinit_okd/tasks/50_post_deployment_tasks.yml
  kubeinit/roles/kubeinit_okd/tasks/configure_service_nodes.yml
  kubeinit/roles/kubeinit_okd/templates/install-config.yaml.j2
  kubeinit/roles/kubeinit_registry/defaults/main.yml
  kubeinit/roles/kubeinit_rke/tasks/10_configure_common.yml
  kubeinit/roles/kubeinit_rke/tasks/30_post_service_config.yml
  kubeinit/roles/kubeinit_rke/tasks/40_configure_control_plane_nodes.yml
  kubeinit/roles/kubeinit_rke/tasks/50_configure_compute_nodes.yml
  kubeinit/roles/kubeinit_rke/tasks/70_post_deployment_services_tasks.yml
  kubeinit/roles/kubeinit_rke/tasks/configure_service_nodes.yml
  kubeinit/roles/kubeinit_rke/templates/cluster.yml.j2
  kubeinit/roles/kubeinit_services/tasks/start_services_containers.yml
Labels: cdk-libvirt-1-controller-0-compute-default

#395 feat: add minimal runtime.yml for the Ansible collection
  kubeinit/hosts/cdk/inventory
  kubeinit/hosts/eks/inventory
  kubeinit/hosts/k8s/inventory
  kubeinit/hosts/kid/inventory
  kubeinit/hosts/okd/inventory
  kubeinit/meta/runtime.yml
  kubeinit/roles/kubeinit_cdk/tasks/10_configure_common.yml
  kubeinit/roles/kubeinit_eks/tasks/20_configure_common.yml
  kubeinit/roles/kubeinit_k8s/defaults/main.yml
  kubeinit/roles/kubeinit_k8s/tasks/20_configure_common.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_deploy_centos_guest.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_deploy_debian_guest.yml
  kubeinit/roles/kubeinit_libvirt/tasks/60_deploy_ubuntu_guest.yml
  kubeinit/roles/kubeinit_rke/tasks/10_configure_common.yml
Labels: okd-libvirt-1-controller-0-compute-default, rke-libvirt-1-controller-0-compute-default

#409 fix: move tasks to gather hypervisor facts out of hypervisor_hosts play
  kubeinit/playbook.yml
  kubeinit/roles/kubeinit_prepare/tasks/main.yml
  kubeinit/roles/kubeinit_prepare/tasks/prepare_hypervisor.yml
Labels: multinode-libvirt-3-controller-1-compute-default
